

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.btn {
    text-align: center;
    padding: 20px;
    background-color: red;
    color: black;
}